.scanner-section{
    /* text-align: center; */
    margin: 0 auto;
    width: 40%;
}

section {
    display: none;
    border: 1px solid black;
    padding: 30px;
    margin-top: 20px;
}

section div:first-child {
    margin-right: 20px;
}

section button {
    padding: 10px;
}