@font-face {
    font-family: cartoon;
    src: url(../ComicalCartoon-Ajy2.ttf);
}
body{
    background-image: linear-gradient(rgba(145, 141, 141, 0.5), rgba(0,0,0,0.5)),url(./amusement-park-carnival-festive-fair-cartoon_107791-1896.avif);
    background-size: cover;
    background-size: 100vw 100vh;
    position: relative;
    background-repeat: no-repeat;
}
h2{
    

    font-family: cartoon;
    text-align: center;
    color: #90a955;
    -webkit-text-stroke: 2px black;
}
.scanner-section{
  
    margin: 0 auto;
    width: 40%;
}

section {
    display: none;
    border: 1px solid black;
    padding: 30px;
    margin-top: 20px;
}

section div:first-child {
    margin-right: 20px;
}

section button {
    padding: 10px;
}
button {
    padding: 10px 40px;
    font-size: 18px;
    background-color: #008542;
    color: #fff;
    text-shadow: 0 2px 0 rgb(0 0 0 / 25%);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: 0;
    z-index: 1;
    user-select: none;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    white-space: unset;
    padding: .8rem 1.5rem;
    text-decoration: none;
    font-weight: 900;
    transition: all 0.7s cubic-bezier(0,.8,.26,.99);
   }
   
   button:before {
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: '';
    transition: .7s cubic-bezier(0,.8,.26,.99);
    z-index: -1;
    background-color: #008542!important;
    box-shadow: 0 -4px rgb(21 108 0 / 50%) inset, 0 4px rgb(100 253 31 / 99%) inset, -4px 0 rgb(100 253 31 / 50%) inset, 4px 0 rgb(21 108 0 / 50%) inset;
   }
   
   button:after {
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: '';
    box-shadow: 0 4px 0 0 rgb(0 0 0 / 15%);
    transition: .7s cubic-bezier(0,.8,.26,.99);
   }
   
   button:hover:before {
    box-shadow: 0 -4px rgb(0 0 0 / 50%) inset, 0 4px rgb(255 255 255 / 20%) inset, -4px 0 rgb(255 255 255 / 20%) inset, 4px 0 rgb(0 0 0 / 50%) inset;
   }
   
   button:hover:after {
    box-shadow: 0 4px 0 0 rgb(0 0 0 / 15%);
   }
   
   button:active {
    transform: translateY(4px);
   }
   
   button:active:after {
    box-shadow: 0 0px 0 0 rgb(0 0 0 / 15%);
   }
   .buttons{
    background-color: #90a955;
    font-family: cartoon;
   }
   .display {

    border: 1px solid;
    margin: 0 auto;
    padding: 15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    color: black;
    background-color: #DFF2BF;
    /* background-image: url('../employee/resetGreen.png'); */
    width: fit-content;


}
